language: android
jdk:
- oraclejdk8
sudo: required

android:
  components:
  - tools
  - build-tools-25.0.2
  - android-25
  - platform-tools
  - extra-google-m2repository
  - extra-android-m2repository
  - extra-android-support
before_install:
  - nvm install 8
  - rvm install 2.3-dev
  - cd mobile/
  - gem update --system
  - gem install fastlane --no-rdoc --no-ri --no-document --quiet
install:
  - yarn
script:
  - yarn add expo-cli
  - yarn expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
  - bash ./deploy.sh