language: node_js
node_js:
  - node
  - lts/*
before_script:
  - yarn
script:
  - cd mobile
  - yarn test
cache:
  directories:
  - ./mobile/node_modules

jobs:
  include:
    - stage: deploy
      node_js: lts/*
      script:
        - cd mobile
        - yarn add expo-cli
        - yarn expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
        - yarn expo publish --non-interactive